#heading{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #85AAED ;
}
#med1{
    display: flex;
    justify-content: space-around;
}
#img1{
    width:5%;
}
#content{
    border:1px solid black;
}
#bill{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
    border:2px solid green;
    padding-top:4%;
    padding-bottom: 4%;
    padding-left: 2%;
    border-radius: 0%;
}
#three{
    width:40%;
    margin-left: 20%;
}
#buy{
    width:40%;
    background-color: #85AAED;
    border-radius: 12%;
    padding:2% 2%;
}