nav{
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo{
    margin-right: 30%;
    border: 5px solid green;
    border-radius: 5px;
    font-size: large;
}

.logo:hover{
    cursor: pointer;
}

.searchbar{
    margin-top: 10px;
    width: 25%;
    margin-bottom: 0;
    position: relative;
}

.searchbar i{
    position: absolute;
}

.searchbar i{
    padding: 10px;
    font-size: 20px;
    color: green;
    min-width: 50px;
    text-align: center;
    top: 5px;
    right: 2%;
}

i:hover{
    cursor: pointer;
}

.searchbar input{
    width: 100%;
    padding: 10px;
    text-align: left;
}

nav a{
    margin-top: 1%;
    font-size: large;
    text-decoration: none;
    color: black;
}

nav a:hover{
    cursor: pointer;
    color: blue ;
}



@media screen and (max-width: 768px) {
    .logo{
        margin-right: 5%;
        border: 5px solid green;
        border-radius: 5px;
        font-size: large;
    }
}

@media screen and (max-width: 536px) {
    .logo{
        margin-right: 0%;
        border: 5px solid green;
        border-radius: 5px;
        font-size: medium;
    }

    .searchbar{
        margin-top: 10px;
        width: 20%;
        margin-bottom: 0;
        position: relative;
    }

    .searchbar i{
        position: absolute;
    }
    
    .searchbar i{
        padding: 10px;
        font-size: 16px;
        color: green;
        min-width: 50px;
        text-align: right;
        top: 1px;
        right: 3%;
    }

    .searchbar input{
        width: 100%;
        padding: 8px;
        text-align: left;
        &::-webkit-input-placeholder {
            color: transparent;
        }
    }
    nav a{
        margin-top: 5%;
        font-size: small;
        text-decoration: none;
        color: black;
    }
}
