@media screen and (min-width: 821px) {
  #sr {
    margin: 5% 2% 0 2%;
    text-align: center;
    font-size: 300%;
  }
  .g_sr {
    margin: 5% 2%;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  #p_sr {
    margin: 2%;
    padding: 2% 5%;
    border: 3px solid black;
    height: 70vh;
  }
  #img_sr {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    height: 35vh;
    align-items: center;
    margin-bottom: 10%;
  }
  #img_sr img {
    margin: 2%;
    align-items: center;
    height: 96%;
    width: 96%;
    object-fit: cover;
  }
  #km_sr{
    margin-top: 20%;
    height: 5vh;
    width: 10vw;
  }
  #p_sr #km_sr:hover {
    cursor: pointer;
  }
  
}

@media screen and (max-width: 820px) {
  #sr {
    margin: 10% 2% 0 2%;
    text-align: center;
    font-size: 300%;
  }
  .g_sr {
    margin: 10% 2%;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  #p_sr {
    margin: 2%;
    padding: 2% 5%;
    border: 3px solid black;
    height: 50vh;
  }
  #img_sr {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    height: 25vh;
    align-items: center;
    margin-bottom: 10%;
  }
  #img_sr img {
    margin: 2%;
    align-items: center;
    height: 96%;
    width: 96%;
    object-fit: cover;
  }
  #p_sr #km_sr:hover {
    cursor: pointer;
  }
}
