@media screen and (min-width: 821px) {
  .g_pr {
    margin: 5% 2%;
    border: 5px solid black;
    display: flex;
    gap: 5px;
  }
  #p_pr {
    display: flex;
    gap: 5px;
  }
  #more_img{
    margin: 2%;
    width: 15vw;
    border: 3px solid black;
    height: 70vh;
    display: flex;
    flex-direction: column;
  }
  #more_img img{
    margin: 2%;
    align-items: center;
    height: 32%;
    width: 96%;
    object-fit: cover;
  }
  #img_pr{
    margin: 2%;
    width: 50vw;
    border: 3px solid black;
    height: 70vh;
  }
  #img_pr img{
    margin: 2%;
    align-items: center;
    height: 96%;
    width: 96%;
    object-fit: cover;
  }
  #details_pr{
    margin: 20vh 5vw 0 5vw;
  }
}

@media screen and (max-width: 820px) {
    .g_pr {
      margin: 5% 2%;
      border: 5px solid black;
    }
    #p_pr{
        display: flex;
    }
    #more_img{
      margin: 2%;
      width: 20vw;
      border: 3px solid black;
      height: 70vh;
      display: flex;
      flex-direction: column;
    }
    #more_img img{
      margin: 2%;
      align-items: center;
      height: 33%;
      width: 96%;
      object-fit: cover;
    }
    #img_pr{
      margin: 2%;
      width: 70vw;
      border: 3px solid black;
      height: 70vh;
    }
    #img_pr img{
      margin: 2% 2% 0 2%;
      align-items: center;
      height: 96%;
      width: 96%;
      object-fit: cover;
    }
    #details_pr{
      margin: 10vh;
    }
  }